/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #333;
  background-color: #fefcfb;
}

/* Header and Navigation */
header {
  background-color: #fefcfb;
  color: white;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border: 1px solid ;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo h2 {
  color: #000;
  font-weight: 600;
}
.logo img {
  height: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 16px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #fd8d3a;
}

.loginBtn button {
  color: #fd8d3a;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.loginBtn .signUp {
  margin-left: 30px;
  padding: 10px 25px;
  background-color: #fa7436;
  color: #fff;
  border-radius: 2px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  background-color: #fefcfb;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.hero-content h1 {
  width: auto;
  font-size: 64px;
  font-weight: bold;
  color: #000;
  line-height: 60px;
  margin-bottom: 20px;
}
.spanTag {
  color: #fd8d3a;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  background-color: transparent;
  color: #fd8d3a;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #fd8d3a;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #fd8d3a;
  color: #fff;
}

.hero-image img {
  max-width: 600px;
  height: auto;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
  margin-bottom: 50px;
}
.searchBar .searchBarMenu {
  background-color: #fff;
  width: 800px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.searchHeading {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.searchHeading h2 {
  font-size: 20px;
}
.searchHeading img {
  width: 15px;
  height: auto;
}
.searchBarMenu p {
  color: #666666;
  font-size: 12px;
}
.exploreBtn {
  border: none;
  outline: none;
  margin-left: 30px;
  padding: 15px 35px;
  background-color: #fa7436;
  color: #fff;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
}

/* abouts Section */
.abouts {
  padding: 130px 16px;
  max-width: 100%;
  text-align: center;
  background-color: #f8f9fa;
  position: relative;
}

.abouts h2 {
  font-size: 40px;
  color: #000;
}
.aboutPara {
  color: #666666;
  margin-bottom: 80px;
}
.elementImg {
  position: absolute;
  right: 320px;
  top: 160px;
  width: 120px;
}

.about-grid {
  padding: 0px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.about-item {
  width: 300px;
  padding: 16px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: start;
}
.about-item:nth-child(1) {
  background-image: url(img/Vector\ 4856.png);
}
.about-item:nth-child(2) {
  background-image: url(img/Vector\ 4858.png);
}
.about-item:nth-child(3) {
  background-image: url(img/Vector\ 4857.png);
}

.about-item img {
  width: 30px;
  height: auto;
  margin-bottom: 16px;
}

.about-item h3 {
  margin-bottom: 8px;
  color: #000;
}
.about-item p {
  margin-bottom: 8px;
  color: #666666;
}

/* tours Section */
.tours {
  padding: 130px 16px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.tours h2 {
  font-size: 40px;
  color: #000;
}

.tour-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.tour-item {
  width: 220px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tour-item .tourImg {
  width: 100%;
  height: 170px;
  margin-bottom: 15px;
}
.tourDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.tourDetails h2 {
  font-size: 20px;
}
.tourStar {
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.tourStar .starImg {
  width: 16px;
  height: 16px;
}
.tourLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}
.tourLocation h4{
  color: #666666;
  font-size: 14px;
}
.tourLocation p:nth-child(1){
  text-decoration: line-through;
  color: #666666;
}
.tourLocation p:nth-child(2){
  color: red;
}
.slideBtn{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.slideBtn div{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #666666;
}
.slideBtn img{
  width: 20px;
  height: 20px;
}
.slideBtn div:nth-child(2){
  background-color: #fa7436;
  border: #fa7436;
}




.blog {
  padding: 100px 16px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.blog h2 {
  font-size: 40px;
  color: #000;
}

.blog-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0px 120px;
}

.blog-item {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.blog-item .blogImg {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}
.blogelementImg {
  position: absolute;
  right: 290px;
  top: 140px;
  width: 80px;
}
.blogDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.blogDetails h2 {
  font-size: 20px;
}
.blogPrice{
  color: #fd8d3a;
}
.blogStar {
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.blogStar .starImg {
  width: 16px;
  height: 16px;
}
.blogLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}
.blogLocation img{
  width: 15px;
}
.blogLocation h4{
  color: #666666;
  font-size: 14px;
}
.blogLocation p:nth-child(1){
  text-decoration: line-through;
  color: #666666;
}
.blogslideBtn{
  margin-top: -70px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 200px;
  gap: 30px;
}
.blogslideBtn div{
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #666666;
}
.blogslideBtn img{
  width: 15px;
  height: 15px;
}
.blogslideBtn div:nth-child(2){
  background-color: #fa7436;
  border: #fa7436;
}



.testimonial-section {
  padding: 150px 20px;
  background-color: #F7F8FC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 100px;
}

/* Left text */
.text-content {
  max-width: 400px;
}

.text-content h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

.text-content h2 span {
  color: #ff7a18;
}

.text-content p {
  margin: 20px 0;
  color: #666;
}

.arrows {
  display: flex;
  gap: 15px;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow.active {
  background: #ff7a18;
  color: #fff;
  border: none;
}



/* Right cards */
.card-wrapper {
  position: relative;
}
.card-wrapper .elementImage{
  position: absolute;
  right: -90px;
  top: -50px;
  width: 100px;
}

.testimonial-card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 450px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.08);
  position: relative;
  z-index: 2;
}


.testimonial-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 15px;
  position: absolute;
  top: -20px;
  left: -20px;
}

.message {
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}

.testimonial-card h4 {
  font-size: 18px;
  font-weight: 600;
}

.testimonial-card span {
  color: #888;
  font-size: 14px;
}

/* Shadow card */
.shadow-card {
  position: absolute;
  bottom: -60px;
  right: -40px;
  width: 450px;
  height: 180px;
  opacity: 0.4;
  z-index: 1;
}


.blog-section {
  padding: 80px 20px;
  text-align: center;
}

.blog-section h2 {
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 700;
}

.blog-section h2 span {
  color: #ff7a18;
}

.blog-container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.blog-card {
  text-align: left;
  width: 250px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.blog-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.blog-card h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  padding-right: 30px;
}

.blog-card p {
  font-size: 14px;
  color: #888;
}

/* Dots */
.dots {
  margin-top: 40px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
}

.dot.active {
  background: #ff7a18;
}



/* Subscribe Section */
.subscribe-section {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.subscribe-box {
  background: #ff7a18;
  color: #fff;
  padding: 60px 40px;
  border-radius: 16px;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.subscribe-box .trees1{
  position: absolute;
  right: 10px;
  top: 20px;
  width: 50px;
}
.subscribe-box .trees2{
  position: absolute;
  right: 45px;
  top: 36px;
  width: 50px;
}
.subscribe-box .ellipseImg1{
  position: absolute;
  left: 0px;
  bottom: -50px;
  width: 320px;
}
.subscribe-box .ellipseImg2{
  position: absolute;
  left: 0px;
  bottom: -70px;
  width: 300px;
}
.subscribe-box .ellipseImg3{
  position: absolute;
  left: 0px;
  bottom: -110px;
  width: 260px;
}
.subscribe-box .ellipseImg4{
  position: absolute;
  left: 0px;
  bottom: -90px;
  width: 280px;
}
.subscribe-box .ellipseImg5{
  position: absolute;
  left: 0px;
  bottom: -50px;
}

.subscribe-box h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

.subscribe-form {
  background: #fff;
  padding: 6px;
  border-radius: 10px;
  display: flex;
  max-width: 500px;
  margin: auto;
  position: relative;
}

.subscribe-form input {
  flex: 1;
  border: none;
  padding: 14px;
  outline: none;
  border-radius: 10px;
}

.subscribe-form button {
  background: #ff7a18;
  color: #fff;
  border: none;
  padding: 0 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

/* Footer */
.footer {
  padding: 80px 20px 30px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-col p {
  color: #666;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
  color: #666;
  cursor: pointer;
}

.social-icons span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  margin-right: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  cursor: pointer;
}

/* Footer Bottom */
.footer-bottom {
  max-width: 1200px;
  margin: 40px auto 0;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
}
